<div class="back-button">
  <a href="/"><button class="back-btn btn-primary">Go Back</button></a>
</div>
<div class="jumbotron jumbotron-fluid">
<div class="container">
  <h1 class="display-4">Pick A Login!</h1>
  <!-- <h1 class="display-4"></h1> -->
  <div class="button-container">
    <div class="button-artist">
      <a href="/artist-login"><button class="btn btn-primary" type="button">Artist</button></a>
    </div>
    <div class="button-listen">
      <a href="/general-login"><button class="btn btn-primary" type="button">Listen</button></a>
    </div>
  </div>
</div>
<div class="bg"></div>
</div>