<div>
    <app-nav-bar></app-nav-bar>
</div>
<div class="bg">
    <div>
      <div class="header">
        <h1 id="page-message">Featured Artists</h1>
      </div>
        <div class="row">
            <div class="column left">
              <a href="artist-profile"><img src="assets/User-Placeholder.png" class="center"/></a>
              <h3>Username</h3>
              <p>Location</p>
            </div>
            <div class="column middle">
              <img src="assets/User-Placeholder.png" class="center"/>
              <h3>Username</h3>
              <p>Location</p>
            </div>
            <div class="column right">
              <img src="assets/User-Placeholder.png" class="center"/>
              <h3>Username</h3>
              <p>Location</p>
            </div>
        </div>
      </div>
    <div>
      <div class="header">
          <h1 id="page-message">Top Artists</h1>
      </div>
    </div>
      <div class="row">
          <div class="column left">
            <img src="assets/User-Placeholder.png" class="center"/>
            <h3>Username</h3>
            <p>Location</p>
          </div>
          <div class="column middle">
            <img src="assets/User-Placeholder.png" class="center"/>
            <h3>Username</h3>
            <p>Location</p>
          </div>
          <div class="column right">
            <img src="assets/User-Placeholder.png" class="center"/>
            <h3>Username</h3>
            <p>Location</p>
          </div>
      </div>
      <div class="row">
          <div class="column left">
            <img src="assets/User-Placeholder.png" class="center"/>
            <h3>Username</h3>
            <p>Location</p>
          </div>
          <div class="column middle">
            <img src="assets/User-Placeholder.png" class="center"/>
            <h3>Username</h3>
            <p>Location</p>
          </div>
          <div class="column right">
            <img src="assets/User-Placeholder.png" class="center"/>
            <h3>Username</h3>
            <p>Location</p>
          </div>
      </div>
      <div class="row">
          <div class="column left">
            <img src="assets/User-Placeholder.png" class="center"/>
            <h3>Username</h3>
            <p>Location</p>
          </div>
          <div class="column middle">
            <img src="assets/User-Placeholder.png" class="center"/>
            <h3>Username</h3>
            <p>Location</p>
          </div>
          <div class="column right">
            <img src="assets/User-Placeholder.png" class="center"/>
            <h3>Username</h3>
            <p>Location</p>
          </div>
      </div>
      <div class="genre-img">
          <div>
             <h1 class="page-message">Artists By Genre</h1>
          </div>
      </div>
</div>
