<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tonik</title>
</head>
<body>
    <h1>
        user singup 
    </h1>
    <form action="/donatorsignup'" method='post'>
    <input type="text" name='email' placeholder=' email'>
    <input type="text" name='password' placeholder=' password'>
    <input type="text" name='donators_name' placeholder=' user name'>
    <input type="text" name=' location' placeholder='location'>
    <input type="number" name='age' placeholder='age'>
    <button formaction='/donatorsignup' type="submit">
            
    </button>
</form>
    
</body>
</html>