.container {
    margin-left: 28%;
    padding: 100px;
}

.header {
    align-content: center;
    padding: 50px;
    text-align: center;
}

.header-image {
    align-content: center;
    margin-left: 41%;
    padding: 50px;
}

a {
    color: white !important;
   /* width: 110px; */
   /* height: 40px; */
}

a:hover {
    color: #723974 !important;
}

.btn {
    padding: 12px 22px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn-primary {
    background: #723974;
    color: white;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
    background: black;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #8B388E;
}

.btn-primary:active, .btn-primary.active {
    background: #a6a4a6;
    box-shadow: none;
}