<div style="padding: 50px">
    <a href="/"><button class="btn btn-primary" style="float: leftt;">Go Back</button></a>
</div>
<div class="header-image">
  <img src="assets/new-BrandLogo.ico"/>
</div>

<div class="header">
    Artist Login
</div>

<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form>
          <div id="user-data">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" id="email" class="form-control" [(ngModel)]="logInArtistData.email" name="email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" class="form-control" [(ngModel)]="logInArtistData.password" name="password">
            </div>
            <div>
              <a href="artist-profile"><button (click)="logInArtist()" class="btn btn-primary" type="submit" style="float: right;">Log In</button></a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>