<div class="back-button">
    <a href="/"><button class="back-btn btn-primary">Go Back</button></a>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">You're On Your Way!</h1>
    <h1 class="display-4">Are You An Artist Or Here To Listen?</h1>
    <div class="button-container">
      <div class="button-artist">
        <a href=""><button class="btn btn-primary" type="button">Artist</button></a>
      </div>
      <div class="button-listen">
        <a href=""><button class="btn btn-primary" type="button">Listen</button></a>
      </div>
    </div>
  </div>
  <div class="bg"></div>
</div>