<div>
  <app-nav-bar></app-nav-bar>  
</div>
<div class="faq-header">
  <h1>FAQ</h1>
</div>
<div class="faq-text-container">
  <div class="faq-question">
    <h3>Question:</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sagittis viverra leo, quis tempus ante scelerisque ac. Morbi volutpat urna.</p>
  </div>
  <div class="faq-question">
    <h3>Question:</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sagittis viverra leo, quis tempus ante scelerisque ac. Morbi volutpat urna.</p>
  </div>
  <div class="faq-question">
    <h3>Question:</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sagittis viverra leo, quis tempus ante scelerisque ac. Morbi volutpat urna.</p>
  </div>
  <div class="faq-question">
    <h3>Question:</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sagittis viverra leo, quis tempus ante scelerisque ac. Morbi volutpat urna.</p>
  </div>
  <div class="faq-question">
    <h3>Question:</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sagittis viverra leo, quis tempus ante scelerisque ac. Morbi volutpat urna.</p>
  </div>
</div>